@inject AppState appState
@implements IDisposable

<h3>@Text</h3>
<span>AppState.count : @appState.count</span>

@code {
    [Parameter]
    public string? Text{ get; set; } = "기본값";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        appState.OnChange += StateHasChanged;
    }

    public void Dispose() => appState.OnChange -= StateHasChanged;
}
